#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  width: 300px;
  margin: 0 auto;
}

input {
  width: 250px;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}