* {
  font-family: monospace;
  text-transform: uppercase;
}

body {
  margin: 0;
}

#root {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
}

.list {
 width: 250px;
}

.list button {
  display: block;
  width: 100%;
  height: 50px;
  cursor: pointer;
  font-size: 15px;
}

.details {
  width: 250px;
}
  
.details img {
  width: 250px;
  margin-bottom: -3px;
}

.details h4 {
  border: 1px solid #c6bebe;
  padding: 15px 3px;
  margin: 0;
  font-size: 20px;
}

.details p {
  border: 1px solid #c6bebe;
  border-top: none;
  padding: 15px 10px;
  margin: 0;
  font-size: 14px;
}

.loading {
  font-size: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
